@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #9c252d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "pizzahut-font";
  src: url("assets/fonts/pizzahut-font.ttf") format("truetype");
}

* {
  font-family: "pizzahut-font";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(7deg);
}

.content {
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.animate-bouncer:hover {
  animation: tilt-shaking .5s infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg) scale(1.2) translateX(0);
  }
  25% {
    transform: rotate(10deg) scale(1.2) translateX(10px);
  }
  50% {
    transform: rotate(-10deg) scale(1.2) translateX(-5px);
  }
  75% {
    transform: rotate(10deg) scale(1.2) translateX(10px);
  }
  100% {
    transform: rotate(0deg) scale(1.2) translateX(0);
  }
}

@media (max-width: 800px) {
  .navbar {
    font-size: 2rem;
    padding: 0;
    justify-content: space-between;
    padding-right: 20px;
  }
  .logo {
    width: 150px;
    height: 50px;
  }
}
